@page "/genres/{genre}"
@using BookShopApp.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>books</PageTitle>

<h1>Книги жанра @genre</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var book in books)
        {
            <li>@book.Title by @book.Author</li>
@*             <li><a href="/Books/{GenreID}/@book._id">@book.Title by @book.Author</a></li> *@
        }
    </ul>
@*             <td>@genre.Description</td>
            <td>
                <a href="@($"/genres/{genre.Id}")">Details</a>
            </td> *@
    }
}

@code {
    [Parameter]
    public string genre { get; set; }

    private List<Book> books { get; set; }

    protected override async Task OnInitializedAsync()
    {
        books = await Http.GetFromJsonAsync<List<Book>>("api/Books/GetBooksByGenre/{genre}");
    }
}
